:local(.Container) {
  padding: 1.5px 1px;
  position: absolute;
  width: 100%;

  &:nth-child(12n+1)  :local(.Body) { background-color: transparentize(#FF6A5F, 0.2); }
  &:nth-child(12n+2)  :local(.Body) { background-color: transparentize(#DBDDC7, 0.2); }
  &:nth-child(12n+3)  :local(.Body) { background-color: transparentize(#bdc4bb, 0.2); }
  &:nth-child(12n+4)  :local(.Body) { background-color: transparentize(#118D8F, 0.2); }
  &:nth-child(12n+5)  :local(.Body) { background-color: transparentize(#00ADB7, 0.2); }
  &:nth-child(12n+6)  :local(.Body) { background-color: transparentize(#00E0D0, 0.2); }
  &:nth-child(12n+7)  :local(.Body) { background-color: transparentize(#9DD653, 0.2); }
  &:nth-child(12n+8)  :local(.Body) { background-color: transparentize(#F0D34F, 0.2); }
  &:nth-child(12n+9)  :local(.Body) { background-color: transparentize(#B3A971, 0.2); }
  &:nth-child(12n+10) :local(.Body) { background-color: transparentize(#848779, 0.2); }
  &:nth-child(12n+11) :local(.Body) { background-color: transparentize(#945579, 0.2); }
  &:nth-child(12n+12) :local(.Body) { background-color: transparentize(#F8744F, 0.2); }
}

:local(.Body) {
  font-size: 10px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  background-color: #d9d9d9;
  color: #333;
}

:local(.Backdrop) {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 5;
}

:local(.Popup) {
  position: absolute;
  width: 250px;
  $height: 200px;
  height: $height;
  margin-top: -($height / 2);
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.6) inset,
    0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 6;
  background-color: #F6F5F6;
  filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.25));
  display: flex;
  flex-direction: column;
  &:before {
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #CCCCCC;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -10px;
    margin-right: 0px;
  }
  &:after {
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #F6F5F6;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -10px;
    margin-right: -1px;
  }
}
