:local(.Container) {
  padding: 1.5px 1px;
  position: absolute;
  width: 100%;
}

:local(.Entry) {
  font-size: 10px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  line-height: 12px;
  color: #333;
  &.is-new {
    background-color: rgba(188, 198, 214, 0.35);
  }
}

:local(.Header) {
  font-weight: 400;
  margin-bottom: 10px;
}

:local(.ResizeHandle) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: ns-resize;
}
