:local(.Backdrop) {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 5;
}

:local(.Popup) {
  position: absolute;
  width: 250px;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.6) inset;
  border-radius: 5px;
  z-index: 6;
  background-color: #F6F5F6;
  filter:
    drop-shadow(0px 0px 1px rgba(0,0,0,0.2))
    drop-shadow(0px 5px 8px rgba(0,0,0,0.25));
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);

  &.left {
    transform-origin: 110% 50%;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      width: 25px;
      height: 25px;
      transform: rotate(225deg);
      border-radius: 0 0 0 3px;
      background-color: #F6F5F6;
      margin-top: -12px;
      margin-left: -13px;
      z-index: -1;
    }
  }

  &.right {
    transform-origin: -10% 50%;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      width: 25px;
      height: 25px;
      transform: rotate(45deg);
      border-radius: 0 0 0 3px;
      background-color: #F6F5F6;
      margin-top: -12px;
      margin-right: -13px;
      z-index: -1;
    }
  }
}
